In [18]:
import importlib

import extract_fin_tab_pdf as eftp
importlib.reload(eftp)
import os

In [3]:
pdf_path=f"{os.getcwd()}/data/discover_10K_2021.pdf"

In [25]:
TabReadServ=eftp.FinTabPdf(path_pdf=pdf_path,page=69)

/home/ezra/privat/fin-pdf-extract/extract_fin_tab_pdf.py:71: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self._col_nm_extracted = pd.Series()

In [26]:
TabReadServ.df_pdf_raw

,Unnamed: 0,Unnamed: 1,Unnamed: 2,2021,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,2020,Unnamed: 7,Unnamed: 8
0,NaN,NaN,$,NaN,%,NaN,NaN,$,NaN,%,NaN
1,Loans 30 or more days delinquent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Credit card loans,$,"1,232",NaN,NaN,1.66 %,$,"1,478",NaN,NaN,2.07 %
3,Private student loans,$,157,NaN,NaN,1.55 %,$,138,NaN,NaN,1.39 %
4,Personal loans,$,48,NaN,NaN,0.69 %,$,78,NaN,NaN,1.08 %
5,Total loan receivables,$,"1,451",NaN,NaN,1.55 %,$,"1,705",NaN,NaN,1.89 %
6,Loans 90 or more days delinquent(1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Credit card loans,$,562,NaN,NaN,0.76 %,$,739,NaN,NaN,1.03 %
8,Private student loans,$,36,NaN,NaN,0.35 %,$,28,NaN,NaN,0.28 %
9,Personal loans,$,13,NaN,NaN,0.20 %,$,25,NaN,NaN,0.35 %
10,Total loan receivables,$,618,NaN,NaN,0.66 %,$,795,NaN,NaN,0.88 %
11,Loans not accruing interest,$,225,NaN,NaN,0.24 %,$,243,NaN,NaN,0.26 %
12,Troubled debt restructurings:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Credit card loans(2)(3)(4),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Currently enrolled,$,833,NaN,NaN,1.12 %,$,"1,225",NaN,NaN,1.71 %
15,No longer enrolled,NaN,267,NaN,NaN,0.36,NaN,448,NaN,NaN,0.63
16,Total credit card loans,$,"1,100",NaN,NaN,1.48 %,$,"1,673",NaN,NaN,2.34 %
17,Private student loans(5),$,249,NaN,NaN,2.46 %,$,286,NaN,NaN,2.87 %
18,Personal loans(6),$,187,NaN,NaN,2.70 %,$,222,NaN,NaN,3.09 %

In [27]:
TabReadServ.extract_col_nm()

Unnamed: 0    loans_30_or_more_days_delinquent
dtype: object