# Import Packages

In [25]:
import tabula
from re import sub

# Import Data

In [36]:
pdf_path="data/discover_10K_2021.pdf"
pdf_data=tabula.read_pdf(pdf_path, pages=61)[0]

In [7]:
pdf_data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,2021,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,2020,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,2019,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,Average,NaN,NaN,NaN,NaN,Average,NaN,NaN,NaN,NaN,Average,NaN,NaN,NaN,NaN
1,NaN,NaN,Balance,Yield/Rate,NaN,Interest,NaN,Balance,Yield/Rate,NaN,Interest,NaN,Balance,Yield/Rate,NaN,NaN,Interest
2,Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Interest-earning assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cash and cash equivalents,$,"14,236",0.13,%,$ 18,$,"11,348",0.30,%,$ 35,$,"9,667",2.27,%,$,219
5,Restricted cash,NaN,695,0.03,%,NM,NaN,438,0.45,%,2,NaN,620,2.24,%,NaN,14
6,Other short-term investments,NaN,176,0.12,%,NM,NaN,"2,677",0.14,%,4,NaN,754,2.66,%,NaN,20
7,Investment securities,NaN,"8,713",2.09,%,182,NaN,"11,431",2.21,%,252,NaN,"7,603",2.35,%,NaN,179
8,Loan receivables(1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Credit card loans(2),NaN,"69,365",12.57,%,"8,717",NaN,"71,447",12.58,%,"8,985",NaN,"72,740",13.32,%,NaN,"9,690"
10,Private student loans,NaN,"10,057",7.38,%,742,NaN,"9,890",7.63,%,754,NaN,"9,559",8.54,%,NaN,817
11,Personal loans,NaN,"6,945",12.64,%,878,NaN,"7,406",12.93,%,958,NaN,"7,522",13.07,%,NaN,983
12,Other,NaN,"2,054",5.57,%,114,NaN,"1,660",6.35,%,105,NaN,"1,065",6.63,%,NaN,71
13,Total loan receivables,NaN,"88,421",11.82,%,"10,451",NaN,"90,403",11.95,%,"10,802",NaN,"90,886",12.72,%,NaN,"11,561"
14,Total interest-earning assets,NaN,"112,241",9.49,%,"10,651",NaN,"116,297",9.54,%,"11,095",NaN,"109,530",10.95,%,NaN,"11,993"
15,Allowance for credit losses(3),NaN,"(7,351)",NaN,NaN,NaN,NaN,"(7,301)",NaN,NaN,NaN,NaN,"(3,167)",NaN,NaN,NaN,NaN
16,Other assets,NaN,"6,237",NaN,NaN,NaN,NaN,"5,853",NaN,NaN,NaN,NaN,"4,627",NaN,NaN,NaN,NaN
17,Total assets(4),$,"111,127",NaN,NaN,NaN,$,"114,849",NaN,NaN,NaN,$,"110,990",NaN,NaN,NaN,NaN
18,Liabilities and Stockholders’ Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Interest-bearing liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Interest-bearing deposits,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Time deposits,$,"23,928",1.84,%,440,$,"32,226",2.40,%,772,$,"33,870",2.57,%,NaN,869
22,Money market deposits(5),NaN,"8,142",0.53,%,43,NaN,"7,774",1.10,%,85,NaN,"7,069",2.09,%,NaN,148
23,Other interest-bearing savings deposits,NaN,"40,912",0.43,%,178,NaN,"35,077",1.06,%,374,NaN,"28,209",2.02,%,NaN,570
24,Total interest-bearing deposits,NaN,"72,982",0.91,%,661,NaN,"75,077",1.64,%,"1,231",NaN,"69,148",2.30,%,NaN,"1,587"
25,Borrowings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Short-term borrowings,NaN,72,0.18,%,NM,NaN,"1,024",3.10,%,32,NaN,1,2.33,%,NaN,NM
27,Securitized borrowings(6)(7)(8),NaN,"9,627",1.06,%,102,NaN,"12,521",1.44,%,181,NaN,"14,572",2.92,%,NaN,425
28,Other long-term borrowings(7)(8),NaN,"9,888",3.75,%,371,NaN,"10,996",3.83,%,421,NaN,"11,060",4.68,%,NaN,518
29,Total borrowings,NaN,"19,587",2.42,%,473,NaN,"24,541",2.58,%,634,NaN,"25,633",3.68,%,NaN,943
30,Total interest-bearing liabilities,NaN,"92,569",1.23,%,"1,134",NaN,"99,618",1.87,%,"1,865",NaN,"94,781",2.67,%,NaN,"2,530"
31,Other liabilities and stockholders’ equity(9),NaN,"18,558",NaN,NaN,NaN,NaN,"15,231",NaN,NaN,NaN,NaN,"16,209",NaN,NaN,NaN,NaN
32,Total liabilities and stockholders’ equity,$,"111,127",NaN,NaN,NaN,$,"114,849",NaN,NaN,NaN,$,"110,990",NaN,NaN,NaN,NaN
33,Net interest income,NaN,NaN,NaN,NaN,"$ 9,517",NaN,NaN,NaN,NaN,"$ 9,230",NaN,NaN,NaN,NaN,$,"9,463"
34,Net interest margin(10),NaN,NaN,10.76,%,NaN,NaN,NaN,10.21,%,NaN,NaN,NaN,10.41,%,NaN,NaN
35,Net yield on interest-earning assets(11),NaN,NaN,8.48,%,NaN,NaN,NaN,7.94,%,NaN,NaN,NaN,8.64,%,NaN,NaN
36,Interest rate spread(12),NaN,NaN,8.26,%,NaN,NaN,NaN,7.67,%,NaN,NaN,NaN,8.28,%,NaN,NaN

# Data Engineering

## Extract Column Name from the first two columns

In [29]:
def replace_special_char(input_string:str,char_replacement=" "):
    return sub('[^a-zA-Z0-9 \n\.]', char_replacement, input_string)
def join_string_from_list(input_list:list,char_join=" "):
    return char_join.join(input_list)
def snake_case(input_string:str)->str:
  return '_'.join(
    sub('([A-Z][a-z]+)', r' \1',
    sub('([A-Z]+)', r' \1',
    input_string.replace('-', ' '))).split()).lower()

In [32]:
row_desc_ser=pdf_data.iloc[[0,1]].agg(lambda x: list(x.dropna())).apply(lambda x: snake_case(replace_special_char(join_string_from_list(x))))

row_desc_ser

Unnamed: 0
Unnamed: 1
Unnamed: 2     average_balance
2021                yield_rate
Unnamed: 3
Unnamed: 4            interest
Unnamed: 5
Unnamed: 6     average_balance
2020                yield_rate
Unnamed: 7
Unnamed: 8            interest
Unnamed: 9
Unnamed: 10    average_balance
2019                yield_rate
Unnamed: 11
Unnamed: 12
Unnamed: 13           interest
dtype: object

In [37]:
# Delete the first two rows
pdf_data=pdf_data.drop([0,1]).reset_index(drop=True)
pdf_data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,2021,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,2020,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,2019,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Interest-earning assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cash and cash equivalents,$,"14,236",0.13,%,$ 18,$,"11,348",0.30,%,$ 35,$,"9,667",2.27,%,$,219
3,Restricted cash,NaN,695,0.03,%,NM,NaN,438,0.45,%,2,NaN,620,2.24,%,NaN,14
4,Other short-term investments,NaN,176,0.12,%,NM,NaN,"2,677",0.14,%,4,NaN,754,2.66,%,NaN,20
5,Investment securities,NaN,"8,713",2.09,%,182,NaN,"11,431",2.21,%,252,NaN,"7,603",2.35,%,NaN,179
6,Loan receivables(1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Credit card loans(2),NaN,"69,365",12.57,%,"8,717",NaN,"71,447",12.58,%,"8,985",NaN,"72,740",13.32,%,NaN,"9,690"
8,Private student loans,NaN,"10,057",7.38,%,742,NaN,"9,890",7.63,%,754,NaN,"9,559",8.54,%,NaN,817
9,Personal loans,NaN,"6,945",12.64,%,878,NaN,"7,406",12.93,%,958,NaN,"7,522",13.07,%,NaN,983
10,Other,NaN,"2,054",5.57,%,114,NaN,"1,660",6.35,%,105,NaN,"1,065",6.63,%,NaN,71
11,Total loan receivables,NaN,"88,421",11.82,%,"10,451",NaN,"90,403",11.95,%,"10,802",NaN,"90,886",12.72,%,NaN,"11,561"
12,Total interest-earning assets,NaN,"112,241",9.49,%,"10,651",NaN,"116,297",9.54,%,"11,095",NaN,"109,530",10.95,%,NaN,"11,993"
13,Allowance for credit losses(3),NaN,"(7,351)",NaN,NaN,NaN,NaN,"(7,301)",NaN,NaN,NaN,NaN,"(3,167)",NaN,NaN,NaN,NaN
14,Other assets,NaN,"6,237",NaN,NaN,NaN,NaN,"5,853",NaN,NaN,NaN,NaN,"4,627",NaN,NaN,NaN,NaN
15,Total assets(4),$,"111,127",NaN,NaN,NaN,$,"114,849",NaN,NaN,NaN,$,"110,990",NaN,NaN,NaN,NaN
16,Liabilities and Stockholders’ Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Interest-bearing liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Interest-bearing deposits,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Time deposits,$,"23,928",1.84,%,440,$,"32,226",2.40,%,772,$,"33,870",2.57,%,NaN,869
20,Money market deposits(5),NaN,"8,142",0.53,%,43,NaN,"7,774",1.10,%,85,NaN,"7,069",2.09,%,NaN,148
21,Other interest-bearing savings deposits,NaN,"40,912",0.43,%,178,NaN,"35,077",1.06,%,374,NaN,"28,209",2.02,%,NaN,570
22,Total interest-bearing deposits,NaN,"72,982",0.91,%,661,NaN,"75,077",1.64,%,"1,231",NaN,"69,148",2.30,%,NaN,"1,587"
23,Borrowings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Short-term borrowings,NaN,72,0.18,%,NM,NaN,"1,024",3.10,%,32,NaN,1,2.33,%,NaN,NM
25,Securitized borrowings(6)(7)(8),NaN,"9,627",1.06,%,102,NaN,"12,521",1.44,%,181,NaN,"14,572",2.92,%,NaN,425
26,Other long-term borrowings(7)(8),NaN,"9,888",3.75,%,371,NaN,"10,996",3.83,%,421,NaN,"11,060",4.68,%,NaN,518
27,Total borrowings,NaN,"19,587",2.42,%,473,NaN,"24,541",2.58,%,634,NaN,"25,633",3.68,%,NaN,943
28,Total interest-bearing liabilities,NaN,"92,569",1.23,%,"1,134",NaN,"99,618",1.87,%,"1,865",NaN,"94,781",2.67,%,NaN,"2,530"
29,Other liabilities and stockholders’ equity(9),NaN,"18,558",NaN,NaN,NaN,NaN,"15,231",NaN,NaN,NaN,NaN,"16,209",NaN,NaN,NaN,NaN
30,Total liabilities and stockholders’ equity,$,"111,127",NaN,NaN,NaN,$,"114,849",NaN,NaN,NaN,$,"110,990",NaN,NaN,NaN,NaN
31,Net interest income,NaN,NaN,NaN,NaN,"$ 9,517",NaN,NaN,NaN,NaN,"$ 9,230",NaN,NaN,NaN,NaN,$,"9,463"
32,Net interest margin(10),NaN,NaN,10.76,%,NaN,NaN,NaN,10.21,%,NaN,NaN,NaN,10.41,%,NaN,NaN
33,Net yield on interest-earning assets(11),NaN,NaN,8.48,%,NaN,NaN,NaN,7.94,%,NaN,NaN,NaN,8.64,%,NaN,NaN
34,Interest rate spread(12),NaN,NaN,8.26,%,NaN,NaN,NaN,7.67,%,NaN,NaN,NaN,8.28,%,NaN,NaN

In [40]:
pdf_data["Unnamed: 4"].apply(lambda x: )

0         NaN
1         NaN
2        $ 18
3          NM
4          NM
5         182
6         NaN
7       8,717
8         742
9         878
10        114
11     10,451
12     10,651
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        440
20         43
21        178
22        661
23        NaN
24         NM
25        102
26        371
27        473
28      1,134
29        NaN
30        NaN
31    $ 9,517
32        NaN
33        NaN
34        NaN
Name: Unnamed: 4, dtype: object